<form class='form-horizontal' ng-submit="update()">
  <div class='row row-offcanvas row-offcanvas-left'>
    <div class="col-md-2 sidebar-offcanvas" id="sidebar">
      <ul class='list-unstyled'>
        <li>
          <img ng-src="{{user.profile_image.medium.url}}" class="img-thumbnail img-user-profile" style="margin-bottom: 10px;">
        </li>
        <li ng-show="success.length > 0" class="alert alert-success">
          {{success}}
        </li>
        <li ng-show="dirty_message.length > 0" class="alert alert-info">
          {{dirty_message}}
        </li>
        <li ng-show="error_updating.length > 0" class="alert alert-danger">
          {{error_updating}}
        </li>
        <li ng-show="dirty_message.length > 0">
          <button class='btn btn-success' type="submit">Save Your Profile</button>
        </li>
      </ul>
    </div>

    <div class="col-md-10-right">
      <input type="hidden" ng-model="user.id" />

      <div class="form-group">
        <label class='col-sm-2 control-label'><strong>Name</strong></label>
        <div class="col-sm-10">
          <input class='form-control' type="text" ng-model="user.name" required/>
          <ul class="unstyled">
            <li ng-repeat="error in user.errors.name">
              <span class="error_message">{{error}}</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <label class='col-sm-2 control-label'><strong>Email</strong></label>
        <div class="col-sm-10">
          <input class='form-control' type="email" ng-model="user.email" required/>
          <ul class="unstyled">
            <li ng-repeat="error in user.errors.email">
              <span class="error_message">{{error}}</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <label class='col-sm-2 control-label'><strong>Location</strong></label>
        <div class="col-sm-10">
          <input class='form-control' type="text" ng-model="user.location" />
          <ul class="unstyled">
            <li ng-repeat="error in user.errors.location">
              <span class="error_message">{{error}}</span>
            </li>
          </ul>
        </div>
      </div>

      <div class='form-group'>
        <label class='col-sm-2 control-label'><strong>Description</strong></label>
        <div class='col-sm-10'>
          <textarea ck-editor ng-model="user.description"></textarea>
          <ul class="unstyled">
            <li ng-repeat="error in user.errors.description">
              <span class="error_message">{{error}}</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class='btn btn-success' type="submit">Save Your Profile</button>
        </div>
      </div>
    </div>
  </div>
</form>
