<div class="panel-group" id="filters">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class='panel-title'>
        <a class="accordion-toggle" data-parent='#filters' data-toggle='collapse' data-target='#collapseOne'><h4>Filter Results</h4></a>
      </div>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <a class='btn btn-danger' ng-click="clearFilters()">Clear Filter(s)</a>

        <hr>

        <h6>Salary</h6>
        <p class="text-center">
          <input value="" data-selection="none" data-slider-min="0" data-slider-max="300000" data-slider-step="1000" data-slider-value="[0]" salarybetween />
        </p>

        <hr>

        <h6>Search Language</h6>
        <div class='form-group'>
          <input class='form-control' type='text' ng-model="searchLanguage"/>
        </div>

        <hr>

        <h6>By Location</h6>
        <label class="checkbox-inline" ng-repeat="location in locations">
          <input ng-click="maintainSelectedLocations(location)" type="checkbox" ng-value="location"> {{location}}
        </label>
      </div>
    </div>
  </div>
</div>

<hr>

<div class='well' ng-repeat="listing in job_listings | language:searchLanguage | location:selectedLocations">
  <div class='media'>
    <div class='pull-left'>
      <div style='margin-top: 10px;'>
        <img class='media-object img-rounded' style='display: block; margin: auto; width: 120px; max-width: 120px; max-height: 120px;' ng-src="{{listing.logo || '/assets/default_logo-c6752dc05d776b6f048be5759f325bab.png'}}">
      </div>
      <div style='margin-top: 5px; display: block; margin-left: auto; margin-right: auto;'>
        <div class='box-score box-item isotope-item' ng-class="scoreClass(listing.score)">
          <div class='box-link'>
            <span class='box-number box-number-item'>{{listing.score || '0'}} %</span>
            <br />
            <span class='box-number box-number-item'>MATCH</span>
          </div>
        </div>
      </div>
    </div>
    <div class='media-body'>
      <div class='pull-right' style="height: 200px;">
        <div class='pull-right'>
          <button class='btn btn-info' ng-click="go('/companies/{{listing.company_id}}')">Learn More About {{listing.name}}</button>
          <button class='btn btn-success' ng-click="go('/users/{{user_id}}/messages/new?job_listing_id={{listing.id}}&receiver={{listing.company_id}}')">Apply</button>
        </div>
        <div class="clearfix"></div>
        <dl class='dl-horizontal side-info'>
          <dt>Location(s)</dt>
          <dd ng-bind='listing.locations | attributeArrayLimit:50'></dd>
          <dt>Salary</dt>
          <dd>${{listing.salary_range_low}} - ${{listing.salary_range_high}}</dd>
          <dt>Languages</dt>
          <dd ng-bind='listing.acceptable_languages | attributeArrayLimit:90'></dd>
        </dl>
      </div>
      <h4 class='media-heading'>
        <a ng-href='/companies/{{listing.company_id}}/job_listings/{{listing.id}}' target='_self'>{{listing.job_title}} at {{listing.name}}</a>
      </h4>
      <p class='description' ng-bind-html="listing.details"></p>
    </div>
  </div>
</div>
