<form class='form-horizontal' ng-submit="update()">
  <div class="row-fluid">
    <div class="span2">
      <div class="span2 affix">
        <div class='user-image'>
          <p><img ng-src="{{user.profile_image.url}}" class="img-polaroid span12"></p>
        </div>
        <ul class="unstyled with-user-image">
          <li ng-show="success.length > 0" class="alert alert-success">
            {{success}}
          </li>
          <li ng-show="dirty_message.length > 0" class="alert alert-info">
            {{dirty_message}}
          </li>
          <li ng-show="error_updating.length > 0" class="alert alert-error">
            {{error_updating}}
          </li>
          <li ng-show="dirty_message.length > 0">
            <button class='btn btn-info' type="submit">Save Your Profile</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="span8 span-fixed-sidebar">
      <input type="hidden" ng-model="user.id" />

      <div class="control-group">
        <label class='control-label'><strong>Name</strong></label>
        <div class="controls">
          <input type="text" ng-model="user.name" required/>
          <ul class="unstyled">
            <li ng-repeat="error in user.errors.name">
              <span class="error_message">{{error}}</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="control-group">
        <label class='control-label'><strong>Email</strong></label>
        <div class="controls">
          <input type="email" ng-model="user.email" required/>
          <ul class="unstyled">
            <li ng-repeat="error in user.errors.email">
              <span class="error_message">{{error}}</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="control-group">
        <label class='control-label'><strong>Location</strong></label>
        <div class="controls">
          <input type="text" ng-model="user.location" />
          <ul class="unstyled">
            <li ng-repeat="error in user.errors.location">
              <span class="error_message">{{error}}</span>
            </li>
          </ul>
        </div>
      </div>

      <div class='control-group'>
        <label class='control-label'><strong>Description</strong></label>
        <div class='controls'>
          <textarea ck-editor ng-model="user.description"></textarea>
          <ul class="unstyled">
            <li ng-repeat="error in user.errors.description">
              <span class="error_message">{{error}}</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button class='btn btn-info' type="submit">Save Your Profile</button>
        </div>
      </div>
    </div>
  </div>
</form>
