<p>
  Acceptable Languages
</p>
Javascript:
<input id="job_listing_acceptable_languages_javascript" name="Javascript" ng-model="data.acceptableLanguages.javascript" type="checkbox" value="Javascript">
Java:
<input id="job_listing_acceptable_languages_java" name="Java" ng-model="data.acceptableLanguages.java" type="checkbox" value="Java">
Ruby:
<input id="job_listing_acceptable_languages_ruby" name="Ruby" ng-model="data.acceptableLanguages.ruby" type="checkbox" value="Ruby">
PHP:
<input id="job_listing_acceptable_languages_php" name="PHP" ng-model="data.acceptableLanguages.php" type="checkbox" value="PHP">
C:
<input id="job_listing_acceptable_languages_c" name="C" ng-model="data.acceptableLanguages.c" type="checkbox" value="C">
C++:
<input id="job_listing_acceptable_languages_c" name="CPP" ng-model="data.acceptableLanguages.cpp" type="checkbox" value="C++">
SQL:
<input id="job_listing_acceptable_languages_sql" name="SQL" ng-model="data.acceptableLanguages.sql" type="checkbox" value="SQL">
CSS:
<input id="job_listing_acceptable_languages_css" name="CSS" ng-model="data.acceptableLanguages.css" type="checkbox" value="CSS">
HTML:
<input id="job_listing_acceptable_languages_html" name="HTML" ng-model="data.acceptableLanguages.html" type="checkbox" value="HTML">
