<p>
  Practices:
</p>
Test-driven Development:
<input id="job_listing_practices_tdd" name="TDD" ng-model="data.practices.tdd" type="checkbox" value="TDD">
Behavior-driven Development:
<input id="job_listing_practices_bdd" name="BDD" ng-model="data.practices.bdd" type="checkbox" value="BDD">
Agile:
<input id="job_listing_practices_agile" name="Agile" ng-model="data.practices.agile" type="checkbox" value="Agile">
Scrum:
<input id="job_listing_practices_scrum" name="Scrum" ng-model="data.practices.scrum" type="checkbox" value="Scrum">
Pair Programming:
<input id="job_listing_practices_pair_programming" name="Pair Programming" ng-model="data.practices.pairProgramming" type="checkbox" value="Pair Programming">
Cowboy Coding:
<input id="job_listing_practices_cowboy_coding" name="Cowboy Coding" ng-model="data.practices.cowboyCoding" type="checkbox" value="Cowboy Coding">
Object Oriented Design:
<input id="job_listing_practices_oop" name="OOP" ng-model="data.practices.oop" type="checkbox" value="OOP">
Waterfall Model:
<input id="job_listing_practices_waterfall" name="Waterfall" ng-model="data.practices.waterfall" type="checkbox" value="Waterfall">
Service-oriented Design:
<input id="job_listing_practices_service_oriented" name="Service Oriented" ng-model="data.practices.serviceOriented" type="checkbox" value="Service Oriented">
Don't Repeat Yourself (DRY):
<input id="job_listing_practices_dry" name="DRY" ng-model="data.practices.dry" type="checkbox" value="DRY">
Extreme Programming:
<input id="job_listing_practices_extreme_programming" name="Extreme Programming" ng-model="data.practices.extremeProgramming" type="checkbox" value="Extreme Programming">
Continuous Integration:
<input id="job_listing_practices_ci" name="CI" ng-model="data.practices.ci" type="checkbox" value="CI">
