<div class="panel-group" id="filters">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class='panel-title'>
        <a class="accordion-toggle" data-parent='#filters' data-toggle='collapse' data-target='#collapseOne'><h3>Filter Results</h3></a>
      </div>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <a class='btn btn-danger' ng-click="clearFilters()">Clear Filter(s)</a>
        <br />
        <br />

        <h4>Citizenship/Green Card</h4>
        <label class='radio-inline'>
          <input checked='checked' ng-checked="all" ng-click="setCitizenshipFilter('')" type="radio" name="valid_us_worker" value="all">All Developers
        </label>
        <label class='radio-inline'>
          <input ng-checked="us" ng-click="setCitizenshipFilter('us')" type="radio" name="valid_us_worker" value="citizen_gc">Authorized for work in U.S.
        </label>
        <label class='radio-inline'>
          <input ng-checked="non_us" ng-click="setCitizenshipFilter('non_us')" type="radio" name="valid_us_worker" value="non_citizen_non_gc">Unauthorized for work in U.S.
        </label>

        <hr></hr>

        <h4>Salary Range</h4>
        <p class="text-center">
          <input class="col-md-11" value="" data-selection='none' data-slider-min="0" data-slider-max="300000" data-slider-step="100" data-slider-value="[0,1000000]" salaryrange />
        </p>
        <hr></hr>

        <h4>Search Language</h4>
        <div class='form-group'>
          <input class='form-control' type='text' ng-model="searchSkillKeyword"/>
        </div>

        <hr></hr>

        <h4>By Location</h4>
        <label class="checkbox-inline" ng-repeat="location in locations">
          <input ng-click="maintainSelectedLocations(location)" type="checkbox" ng-value="location"> {{location}}
        </label>

        <hr></hr>
      </div>
    </div>
  </div>
</div>

<h2>{{job_listing.job_title}}</h2>
<div class='well' ng-repeat="user in matches | filter:filters | skills:searchSkillKeyword | location:selectedLocations">
  <div class='media'>
    <div class='pull-left'>
      <div style='margin-top: 5px;'>
        <img class='media-object img-rounded' style='display: block; margin: auto; width: 120px; max-width: 120px; max-height: 120px;' ng-src="{{user.profile_image || '/assets/default_logo-c6752dc05d776b6f048be5759f325bab.png'}}">
      </div>
      <div style='margin-top: 5px; display: block; margin-left: auto; margin-right: auto;'>
        <div class='box-score box-item isotope-item' ng-class="scoreClass(user.score)">
          <div class='box-link'>
            <span class='box-number box-number-item'>
              {{user.score || '0'}} %
            </span>
            <br />
            <span class='box-number box-number-item'>
              MATCH
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class='media-body'>
      <div class='pull-right' style="height: 200px;">
        <div class='pull-right'>
          <button class="btn btn-info" ng-click="go('/users/{{user.id}}/resume')">
            View Resume
          </button>
          <button class="btn btn-success" ng-show="{{user.score}} >= {{user.match_threshold}}" ng-click="go('/companies/{{company_id}}/messages/new?job_listing_id={{job_listing.id}}&receiver={{user.id}}')">
            Send Message
          </button>
        </div>
        <div class="clearfix"></div>
        <dl class='dl-horizontal side-info'>
          <dt>Location(s)</dt>
          <dd ng-bind='user.locations | attributeArrayLimit:50'></dd>
          <dt>Salary</dt>
          <dd>${{user.expected_salary}}</dd>
          <dt>Language(s)</dt>
          <dd ng-bind='user.skills | attributeArrayLimit:90'></dd>
        </dl>
      </div>
      <h3 class='media-heading'>
        {{user.name}} <small>{{user.valid_us_worker && "Authorized for work in U.S." || "Unauthorized for work in U.S."}}</small>
      </h3>
      <p class='description' ng-bind-html="user.description"></p>
    </div>
  </div>
</div>
