<div ng-switch on='hasNoMatches()'>
  <div ng-switch-when='true'>
    <div ng-switch on='fully_activated'>
      <div ng-switch-when='true'>
        <div class="hero-unit">
          <h1>Start adding a job listing now!</h1>
          <p>Add a job listing to begin getting matched with developers.
          Make sure your job listing is as accurate as possible. If you want the perfect developer then be honest, transparent,
          and descriptive with what your company has to offer. It's important for you to get as much detail up front so the
          process can move as quickly as possible, and the chances of landing the right developer the first time increase.</p>
          <p>
            <a class="btn btn-primary btn-large" href='/companies/{{company_id}}/job_listings/new'>
              Add Job Listing
            </a>
          </p>
        </div>
      </div>
      <div ng-switch-default>
        <div class="hero-unit">
          <h1>Setup your subscription to get started.</h1>
          <p>Tagline</p>
          <p>
            <a class="btn btn-primary btn-large">
              Learn more
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div ng-switch-default>
    <div ng-repeat="(job_listing_info, matches) in matchings">
      <h5 style='margin-bottom: 10px;'>{{ splitString(job_listing_info, '___')[0] }}</h5>
      <div ng-switch on='matches.length'>
        <div ng-switch-when='0'>
          <p>
            We are sorry, there are currently no matches for the {{ splitString(job_listing_info, '___')[0] }} job listing. It may be helpful to clean up the
            job listing a bit, or contact us if you think there is an issue.
          </p>
        </div>
        <div ng-switch-default>
          <div class='well' ng-repeat="user in matches">
            <div class='media'>
              <div class='pull-left' style='clear: both; margin-top: 5px;'>
                <img class='media-object img-rounded' style="max-width: 120px; max-height: 120px;" ng-src="{{user.profile_image || '/assets/default_logo-c6752dc05d776b6f048be5759f325bab.png'}}">
              </div>
              <div class='pull-left' style='clear: both; margin-top: 5px;'>
                <div class='box-score box-item isotope-item' ng-class="scoreClass(user.score)">
                  <div class='box-link'>
                    <span class='box-number box-number-item'>
                      {{user.score || '0'}} %
                    </span>
                    <br />
                    <span class='box-number box-number-item'>
                      MATCH
                    </span>
                  </div>
                </div>
              </div>
              <div class='media-body'>
                <div class='pull-right' style="height: 200px;">
                  <div class='pull-right'>
                    <button class="btn btn-info" onclick="location.href='/users/{{user.id}}/resume'">
                      View Resume
                    </button>
                    <button class="btn btn-success" onclick="location.href='/companies/{{company_id}}/messages/new?job_listing_id={{job_listing_id}}&receiver={{user.id}}'">
                      Send Message
                    </button>
                  </div>
                  <div class="clearfix"></div>
                  <dl class='dl-horizontal side-info'>
                    <dt>Location</dt>
                    <dd>{{user.locations.join(', ')}}</dd>
                    <dt>Salary</dt>
                    <dd>${{user.expected_salary}}</dd>
                    <dt>Languages</dt>
                    <dd>{{user.skills.join(', ')}}</dd>
                  </dl>
                </div>
                <h6 class='media-heading'>
                  {{user.name}} <small> {{user.valid_us_worker && "U.S. Citizen or Green Card holder" || "Not a U.S. Citizen or Green Card holder"}}</small>
                </h4>
                <p ng-bind-html-unsafe="user.description|truncate:650:this"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
