public/assets/
.DS_Store
.ruby-version
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
*~
*.swp
*.swo
*.log

# Ignore application configuration
/config/application.yml
/config/prod-application.yml
