<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse">
        <h5>Filter Results</h5>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body" uicollapse>
      <div class="accordion-inner">
        <a class='btn btn-info' ng-click="clearFilters()">Clear Filter(s)</a>
        <br />
        <br />

        <h6>Citizenship/Green Card</h6>
        <label class='radio inline'>
          <input checked='checked' ng-checked="all" ng-click="setCitizenshipFilter('')" type="radio" name="valid_us_worker" value="all">All Developers
        </label>
        <label class='radio inline'>
          <input ng-checked="us" ng-click="setCitizenshipFilter('us')" type="radio" name="valid_us_worker" value="citizen_gc">U.S. Citizens/Green Card Holders
        </label>
        <label class='radio inline'>
          <input ng-checked="non_us" ng-click="setCitizenshipFilter('non_us')" type="radio" name="valid_us_worker" value="non_citizen_non_gc">Non U.S. Citizens/Non Green Card Holders
        </label>

        <hr></hr>

        <h6>Salary Range</h6>
        <p class="text-center">
          <input class="span11" value="" data-selection='none' data-slider-min="0" data-slider-max="300000" data-slider-step="100" data-slider-value="[0,1000000]" salaryrange />
        </p>
        <hr></hr>

        <h6>Search Language</h6>
        <input type='text' ng-model="searchSkillKeyword"/>

        <hr></hr>

        <h6>By Location</h6>
        <label class="checkbox inline" ng-repeat="location in locations">
          <input ng-click="maintainSelectedLocations(location)" type="checkbox" ng-value="location"> {{location}}
        </label>

        <hr></hr>
      </div>
    </div>
  </div>
</div>

<h5>{{job_listing.job_title}}</h5>
<div class='well' ng-repeat="user in matches | filter:filters | skills:searchSkillKeyword | location:selectedLocations">
  <div class='media'>
    <div class='pull-left' style='clear: both; margin-top: 5px;'>
      <img class='media-object img-rounded' style="max-width: 120px; max-height: 120px;" ng-src="{{user.profile_image || '<%= asset_path('default_logo.png') %>'}}">
    </div>
    <div class='pull-left' style='clear: both; margin-top: 5px;'>
      <div class='box-score box-item isotope-item' ng-class="scoreClass(user.score)">
        <div class='box-link'>
          <span class='box-number box-number-item'>
            {{user.score || '0'}} %
          </span>
          <br />
          <span class='box-number box-number-item'>
            MATCH
          </span>
        </div>
      </div>
    </div>
    <div class='media-body'>
      <div class='pull-right' style="height: 200px;">
        <div class='pull-right'>
          <button class="btn btn-info" onclick="location.href='/users/{{user.id}}/resume'">
            View Resume
          </button>
          <button class="btn btn-success" onclick="location.href='/companies/{{company.id}}/messages/new?job_listing_id={{job_listing.id}}&receiver={{user.id}}'">
            Send Message
          </button>
        </div>
        <div class="clearfix"></div>
        <dl class='dl-horizontal side-info'>
          <dt>Location</dt>
          <dd>{{user.locations.join(', ')}}</dd>
          <dt>Salary</dt>
          <dd>${{user.expected_salary}}</dd>
          <dt>Languages</dt>
          <dd>{{user.skills.join(', ')}}</dd>
        </dl>
      </div>
      <h6 class='media-heading'>
        {{user.name}} <small> {{user.valid_us_worker && "U.S. Citizen or Green Card holder" || "Not a U.S. Citizen or Green Card holder"}}</small>
      </h4>
      <p ng-bind-html-unsafe="user.description|truncate:650:this"></p>
    </div>
  </div>
</div>
