<form class='jobListing form-horizontal', name='jobListingForm', ng-submit="create()">
  <div class='row row-offcanvas row-offcanvas-left'>
    <div class="col-md-3 sidebar-offcanvas" id="sidebar">
      <ul class='list-unstyled'>
        <li class="means-yes alert">
          This means yes or preferred
        </li>
        <li class="means-no alert">
          This means no or not preferred
        </li>
        <li ng-show="success.length > 0" class="alert alert-success">
          {{success}}
        </li>
        <li ng-show="dirty_message.length > 0" class="alert alert-info">
          {{dirty_message}}
        </li>
        <li ng-show="error_updating.length > 0" class="alert alert-danger">
          {{error_updating}}
        </li>
        <li ng-show="dirty_message.length > 0">
          <button class='btn btn-success' type="submit">Save Your Job Listing</button>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <ng-include src="'<%= asset_path("job_listings/_job_listing_form.html.erb") %>'" />
    </div>
  </div>
</form>
