<div class='section_header'>
  <h3> Edit Job Listing </h3>
</div>
<div ng-controller = "JobListingCtrl">
  <form class='form-horizontal jobListing', name='jobListingForm', ng-submit="update()">
    <ng-include src="<%= asset_path('job_listings/_job_listing_form.html.erb') %>" />
  </form>
</div>
