<div class="section_header">
  <h3> New Job Listing </h3>
</div>
<div ng-controller = "JobListingCtrl">
  <form class='jobListing form-horizontal', name='jobListingForm', ng-submit="create()">
    <ng-include src="<%= asset_path('job_listings/_job_listing_form.html.erb') %>" />
  </form>
</div>
