<div class="control-group">
  <div class="controls">
    <table class="table">
      <tr class="user" ng-repeat="user in users">
        <td class="user">
          <div class='media'>
            <img class='pull-left img-circle' alt="0  rftk trpnz mrktrgqoklhw1qa1m98trp1oklrr2algltb yjcsoakzjslddaty14lxx9gcz2ag" height="100" src="https://s3-us-west-1.amazonaws.com//pickemup/uploads/user/profile_image/{{user.id}}/{{user.profile_image}}" width="100">
            <div class='pull-right'>
              <div class='pull-right'>
                <button class="btn btn-info" onclick="location.href='/users/{{user.id}}/resume'">
                  View Resume
                </button>
                <button class="btn btn-success" onclick="location.href='/companies/{{company_id}}/messages/new?job_listing_id={{job_listing_id}}&receiver={{user.id}}'">
                  Send Message
                </button>
              </div>
              <div class='clearfix'>
              <dl class='dl-horizontal'>
                <dt>Location</dt>
                <dd>{{user.location}}</dd>
                <dt>Salary</dt>
                <dd>{{user.expected_salary}}</dd>
                <dt>Languages</dt>
                <dd>{{user.skills.join(', ')}}</dd>
              </dl>
              </div>
            </div>
            <div class='media-body'>
              <h4 class='media-heading'>
                <div class='label label-success'; style='font-size: 20px;'>{{user.score}}% Match</div>
                {{user.name}}
              </h4>
              <div>{{user.description}}</div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
