%h2 #{current_user.name.possessive} Interviews

- if @interviews.present?
  - @interviews.each do |interview|
    = render partial: 'user_interview', locals: { interview: interview }
    %hr
- else
  %p You have no interviews at this time.
