<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse">
        <h5>Filter Results</h5>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body" uicollapse>
      <div class="accordion-inner">
        <a class='btn btn-danger' ng-click="clearFilters()">Clear Filter(s)</a>

        <hr></hr>

        <h6>Salary</h6>
        <p class="text-center">
          <input class="span11" value="" data-selection='none' data-slider-min="0" data-slider-max="300000" data-slider-step="1000" data-slider-value="[0]" salarybetween />
        </p>
        <hr></hr>

        <h6>Search Language</h6>
        <input type='text' ng-model="searchLanguage"/>

        <hr></hr>

        <h6>By Location</h6>
        <label class="checkbox inline" ng-repeat="location in locations">
          <input ng-click="maintainSelectedLocations(location)" type="checkbox" ng-value="location"> {{location}}
        </label>
      </div>
    </div>
  </div>
</div>

<div class='well' ng-repeat="listing in job_listings | language:searchLanguage | location:selectedLocations">
  <div class='media'>
    <div class='pull-left'>
      <div style='margin-top: 10px;'>
        <img class='media-object img-rounded' style='display: block; margin: auto; width: 120px; max-width: 120px; max-height: 120px;' ng-src="{{listing.logo || '<%= asset_path('default_logo.png') %>'}}">
      </div>
      <div style='margin-top: 5px; display: block; margin-left: auto; margin-right: auto;'>
        <div class='box-score box-item isotope-item' ng-class="scoreClass(listing.score)">
          <div class='box-link'>
            <span class='box-number box-number-item'>
              {{listing.score || '0'}} %
            </span>
            <br />
            <span class='box-number box-number-item'>
              MATCH
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class='media-body'>
      <div class='pull-right' style="height: 200px;">
        <div class='pull-right'>
          <a class='btn btn-info' ng-href='/companies/{{listing.company_id}}' target='_self'>Learn More About {{listing.name}}</a>
          <a class='btn btn-success' ng-href='/users/{{user_id}}/messages/new?job_listing_id={{listing.id}}&receiver={{listing.company_id}}' target='_self'>Apply</a>
        </div>
        <div class="clearfix"></div>
        <dl class='dl-horizontal side-info'>
          <dt>Locations</dt>
          <dd>{{listing.locations.join(', ')}}</dd>
          <dt>Salary</dt>
          <dd>${{listing.salary_range_low}} - ${{listing.salary_range_high}}</dd>
          <dt>Languages</dt>
          <dd>{{listing.acceptable_languages.join(', ')}}</dd>
        </dl>
      </div>
      <h4 class='media-heading'>
        <a ng-href='/companies/{{listing.company_id}}' target='_self'>{{listing.name}}</a> - <a ng-href='/companies/{{listing.company_id}}/job_listings/{{listing.id}}' target='_self'>{{listing.job_title}}</a>
      </h4>
      <p class='description' ng-bind-html="listing.details"></p>
    </div>
  </div>
</div>
