<div class="control-group">
  <div class="controls">
    <table class="table">
      <tr class="job_listing" ng-repeat="listing in job_listings">
        <td class="job_listing">
          <div class='media'>
            <img class='pull-left media-object img-rounded' size='150x150' src='{{listing.logo}}'>
            <div class='pull-right'>
              <div class='pull-right'>
                <button class="btn btn-info" onclick="location.href='/companies/{{listing.company_id}}'">
                  Learn More About {{listing.name}}
                </button>
                <button class="btn btn-success" onclick="location.href='/users/{{user_id}}/messages/new?job_listing_id={{listing.id}}&receiver={{listing.company_id}}'">
                  Send Message
                </button>
              </div>
              <div class='clearfix'>
              <dl class='dl-horizontal'>
                <dt>Location</dt>
                <dd>{{listing.location}}</dd>
                <dt>Salary</dt>
                <dd>${{listing.salary_range_low}} - ${{listing.salary_range_high}}</dd>
                <dt>Languages</dt>
                <dd>{{listing.acceptable_languages.join(', ')}}</dd>
              </dl>
              </div>
            </div>
            <div class='media-body'>
              <h4 class='media-heading'>
                <div class='label label-success'; style='font-size: 20px;'>{{listing.score}}% Match</div>
                {{listing.job_title}}
              </h4>
              <div ng-bind-html-unsafe="listing.job_description"></div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
