#housing
  .container
    %h3 Thanks for signing up with Pickemup!

    %b Here are some tips to start getting the best job matches as soon as possible.

    %ul
      %li Link your Github, Linkedin and StackOverflow accounts.
      %li Fill out at least 80% of your Preferences (the more, the better).
      %li Start messaging companies.

    If you have any questions or feedback, we would love to hear from you.  
    You can contact us directly by either replying to this email or through our
    = link_to "contact page", contact_url
