- last_message = conversation.last_sender
- if current_company
  - conversation_with = conversation.participants.detect { |conv| conv.is_a?(User) }
  - if last_message == current_company
    = render partial: 'company_last_message_company', locals: { last_message: last_message, conversation_with: conversation_with, conversation: conversation }
  - else
    = render partial: 'company_last_message_user', locals: { last_message: last_message, conversation_with: conversation_with, conversation: conversation }
- elsif current_user
  - conversation_with = conversation.participants.detect { |conv| conv.is_a?(Company) }
  - if last_message == current_user
    = render partial: 'user_last_message_user', locals: { last_message: last_message, conversation_with: conversation_with, conversation: conversation }
  - else
    = render partial: 'user_last_message_company', locals: { last_message: last_message, conversation_with: conversation_with, conversation: conversation }
