#housing
  .container
    = render 'navigation'
    .section_header
      %h3 Conversations - #{@box.capitalize}
      = render @conversations
      = will_paginate @conversations, renderer: BootstrapPagination::Rails
