#housing
  .container
    = render 'navigation'
    - if @conversations.present?
      = render @conversations
      = will_paginate @conversations, renderer: BootstrapPagination::Rails
    - else
      %p You current have no conversations at this moment
