%p
  Special Characteristics:
Entrepreneur:
= check_box("job_listing", "special_characteristics", { multiple: true, 'ng-model' => 'data.specialCharacteristics.entrepreneur' }, "Entrepreneur", nil)
Open Source Committer:
= check_box("job_listing", "special_characteristics", { multiple: true, 'ng-model' => 'data.specialCharacteristics.openSource' }, "Open Source", nil)
Blogger:
= check_box("job_listing", "special_characteristics", { multiple: true, 'ng-model' => 'data.specialCharacteristics.blogger' }, "Blogger", nil)
