<input type="hidden" ng-model="preference.id" />

<div class="control-group">
  <label class='control-label' for="title">Expected Salary</label>
  <div class="controls">
    <input type="text" ng-model="preference.expected_salary" />
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <button class='btn' type="submit">Save</button>
  </div>
</div>
