<input type="hidden" ng-model="preference.id" />

<div class="control-group">
  <label class='control-label' for="title"><i class='icon-money'></i> Expected salary</label>
  <div class="controls">
    <div class="input-prepend input-append">
      <span class="add-on"><i class='icon-usd'></i></span>
      <input type="text" ng-model="preference.expected_salary" />
      <span class="add-on">.00</span>
    </div>
    <ul class="unstyled">
      <li ng-repeat="error in preference.errors.expected_salary">
        <span class="error_message">{{error}}</span>
      </li>
    </ul>
  </div>
</div>

<div class="control-group">
  <label class='control-label' for="title"><i class="icon-calendar"></i> Availablity After Hire</label>
  <div class="controls">
    <div class="input-append">
      <input type="text" ng-model="preference.potential_availability" />
      <span class="add-on">week(s)</span>
    </div>
    <ul class="unstyled">
      <li ng-repeat="error in preference.errors.potential_availability">
        <span class="error_message">{{error}}</span>
      </li>
    </ul>
  </div>
</div>

<div class="control-group">
  <label class='control-label' for="title"><i class="icon-time"></i> # Hours per Week</label>
  <div class="controls">
    <div class="input-append">
      <input type="text" ng-model="preference.work_hours" />
      <span class="add-on">hour(s)</span>
    </div>
    <ul class="unstyled">
      <li ng-repeat="error in preference.errors.work_hours">
        <span class="error_message">{{error}}</span>
      </li>
    </ul>
  </div>
</div>

<div class="control-group">
  <label class='control-label' for="title">Benefits</label>
  <div class="controls">
    <table class="table table-bordered">
      <tr>
        <td>
          <label class="checkbox">
            <input type="checkbox" ng-model="preference.paid_vacation"><i class='icon-plane'></i> Paid vacation?
          </label>
          <ul class="unstyled">
            <li ng-repeat="error in preference.errors.paid_vacation">
              <span class="error_message">{{error}}</span>
            </li>
          </ul>
        </td>
        <td>
          <label class="checkbox">
            <input type="checkbox" ng-model="preference.healthcare"><i class='icon-medkit'></i> Healthcare?
          </label>
          <ul class="unstyled">
            <li ng-repeat="error in preference.errors.healthcare">
              <span class="error_message">{{error}}</span>
            </li>
          </ul>
        </td>
        <td>
          <label class="checkbox">
            <input type="checkbox" ng-model="preference.dentalcare"><i class="icon-smile"></i> Dental?
          </label>
          <ul class="unstyled">
            <li ng-repeat="error in preference.errors.dentalcare">
              <span class="error_message">{{error}}</span>
            </li>
          </ul>
        </td>
        <td>
          <label class="checkbox">
            <input type="checkbox" ng-model="preference.visioncare"><i class="icon-eye-open"></i> Vision?
          </label>
          <ul class="unstyled">
            <li ng-repeat="error in preference.errors.visioncare">
              <span class="error_message">{{error}}</span>
            </li>
          </ul>
        </td>
        <td>
          <label class="checkbox">
            <input type="checkbox" ng-model="preference.life_insurance"><i class="icon-ambulance"></i> Life Insurance?
          </label>
          <ul class="unstyled">
            <li ng-repeat="error in preference.errors.life_insurance">
              <span class="error_message">{{error}}</span>
            </li>
          </ul>
        </td>
        <td>
          <label class="checkbox">
            <input type="checkbox" ng-model="preference.us_citizen">U.S. Citizen?
          </label>
          <ul class="unstyled">
            <li ng-repeat="error in preference.errors.us_citizen">
              <span class="error_message">{{error}}</span>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <label class="checkbox">
            <input type="checkbox" ng-model="preference.equity">Equity?
          </label>
          <ul class="unstyled">
            <li ng-repeat="error in preference.errors.equity">
              <span class="error_message">{{error}}</span>
            </li>
          </ul>
        </td>
        <td>
          <label class="checkbox">
            <input type="checkbox" ng-model="preference.bonuses">Bonuses?
          </label>
          <ul class="unstyled">
            <li ng-repeat="error in preference.errors.bonuses">
              <span class="error_message">{{error}}</span>
            </li>
          </ul>
        </td>
        <td>
          <label class="checkbox">
            <input type="checkbox" ng-model="preference.retirement">Retirement?
          </label>
          <ul class="unstyled">
            <li ng-repeat="error in preference.errors.retirement">
              <span class="error_message">{{error}}</span>
            </li>
          </ul>
        </td>
        <td>
          <label class="checkbox">
            <input type="checkbox" ng-model="preference.fulltime">Fulltime?
          </label>
          <ul class="unstyled">
            <li ng-repeat="error in preference.errors.fulltime">
              <span class="error_message">{{error}}</span>
            </li>
          </ul>
        </td>
        <td>
          <label class="checkbox">
            <input type="checkbox" ng-model="preference.open_source">Open Source?
          </label>
          <ul class="unstyled">
            <li ng-repeat="error in preference.errors.open_source">
              <span class="error_message">{{error}}</span>
            </li>
          </ul>
        </td>
        <td>
          <label class="checkbox">
            <input type="checkbox" ng-model="preference.remote">Open to Remote Work?
          </label>
          <ul class="unstyled">
            <li ng-repeat="error in preference.errors.remote">
              <span class="error_message">{{error}}</span>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'>Select Your Company Size Preferences</label>
  <div class="controls">
    <table class="table table-bordered">
      <tr ng-repeat="row in preference.company_size">
        <td ng-repeat="attributes in row"><input type="checkbox" ng-model="attributes.checked"/>
        <span>{{attributes.name}}</span></td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'>Select Your Preferred Skills</label>
  <div class="controls">
    <table class="table table-bordered">
      <tr ng-repeat="row in preference.skills">
        <td ng-repeat="attributes in row"><input type="checkbox" ng-model="attributes.checked"/>
        <span>{{attributes.name}}</span></td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'>Select Your Preferred Location</label>
  <div class="controls">
    <table class="table table-bordered">
      <tr ng-repeat="row in preference.locations">
        <td ng-repeat="attributes in row"><input type="checkbox" ng-model="attributes.checked"/>
        <span>{{attributes.name}}</span></td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'>Select Your Preferred Industries</label>
  <div class="controls">
    <table class="table table-bordered">
      <tr ng-repeat="row in preference.industries">
        <td ng-repeat="attributes in row"><input type="checkbox" ng-model="attributes.checked"/>
        <span>{{attributes.name}}</span></td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'>Select Your Preferred Levels</label>
  <div class="controls">
    <table class="table table-bordered">
      <tr ng-repeat="row in preference.levels">
        <td ng-repeat="attributes in row"><input type="checkbox" ng-model="attributes.checked"/>
        <span>{{attributes.name}}</span></td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'>Select Your Preferred Positions</label>
  <div class="controls">
    <table class="table table-bordered">
      <tr ng-repeat="row in preference.positions">
        <td ng-repeat="attributes in row"><input type="checkbox" ng-model="attributes.checked"/>
        <span>{{attributes.name}}</span></td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'>Select Your Preferred Company Setting</label>
  <div class="controls">
    <table class="table table-bordered">
      <tr ng-repeat="row in preference.settings">
        <td ng-repeat="attributes in row"><input type="checkbox" ng-model="attributes.checked"/>
        <span>{{attributes.name}}</span></td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'>Select Your Preferred Dress Code</label>
  <div class="controls">
    <table class="table table-bordered">
      <tr ng-repeat="row in preference.dress_codes">
        <td ng-repeat="attributes in row"><input type="checkbox" ng-model="attributes.checked"/>
        <span>{{attributes.name}}</span></td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'>Select Your Preferred Company Type</label>
  <div class="controls">
    <table class="table table-bordered">
      <tr ng-repeat="row in preference.company_types">
        <td ng-repeat="attributes in row"><input type="checkbox" ng-model="attributes.checked"/>
        <span>{{attributes.name}}</span></td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'>Select Your Preferred Perks</label>
  <div class="controls">
    <table class="table table-bordered">
      <tr ng-repeat="row in preference.perks">
        <td ng-repeat="attributes in row"><input type="checkbox" ng-model="attributes.checked"/>
        <span>{{attributes.name}}</span></td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'>Select Your Preferred Practices</label>
  <div class="controls">
    <table class="table table-bordered">
      <tr ng-repeat="row in preference.practices">
        <td ng-repeat="attributes in row"><input type="checkbox" ng-model="attributes.checked"/>
        <span>{{attributes.name}}</span></td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <button class='btn' type="submit">Save</button>
  </div>
</div>
