<input type="hidden" ng-model="preference.id" />

<div class="control-group">
  <label class='control-label'><strong>Expected salary</strong></label>
  <div class="controls">
    <div class="input-prepend input-append">
      <span class="add-on"><i class='icon-usd'></i></span>
      <input type="text" ng-model="preference.expected_salary" />
      <span class="add-on">.00</span>
    </div>
    <ul class="unstyled">
      <li ng-repeat="error in preference.errors.expected_salary">
        <span class="error_message">{{error}}</span>
      </li>
    </ul>
  </div>
</div>

<div class="control-group">
  <label class='control-label'><strong>Availablity After Hire</strong></label>
  <div class="controls">
    <div class="input-append">
      <input type="text" ng-model="preference.potential_availability" />
      <span class="add-on">week(s)</span>
    </div>
    <ul class="unstyled">
      <li ng-repeat="error in preference.errors.potential_availability">
        <span class="error_message">{{error}}</span>
      </li>
    </ul>
  </div>
</div>

<div class="control-group">
  <label class='control-label'><strong># Hours per Week</strong></label>
  <div class="controls">
    <div class="input-append">
      <input type="text" ng-model="preference.work_hours" />
      <span class="add-on">hour(s)</span>
    </div>
    <ul class="unstyled">
      <li ng-repeat="error in preference.errors.work_hours">
        <span class="error_message">{{error}}</span>
      </li>
    </ul>
  </div>
</div>

<div class="control-group">
  <label class='control-label'></label>
  <div class="controls">
    <table class="table table-bordered">
      <tr class='preference'>
        <td class="preference-list" ng-click="toggleActive('us_citizen')" ng-class="{active: preference.us_citizen}">
          Are you a citizen of the United States of America?
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'></label>
  <div class="controls">
    <table class="table table-bordered">
      <tr class='preference'>
        <td class="preference-list" ng-click="toggleActive('willing_to_relocate')" ng-class="{active: preference.willing_to_relocate}">
          Would you be willing and/or want to relocate?
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'></label>
  <div class="controls">
    <table class="table table-bordered">
      <tr class='preference'>
        <td class="preference-list" ng-click="toggleActive('remote')" ng-class="{active: preference.remote}">
          Would you be willing and/or want to work remotely?
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'></label>
  <div class="controls">
    <table class="table table-bordered">
      <tr class='preference'>
        <td class="preference-list" ng-click="toggleActive('fulltime')" ng-class="{active: preference.fulltime}">
          Seeking a fulltime position?
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'></label>
  <div class="controls">
    <table class="table table-bordered">
      <tr class='preference'>
        <td class="preference-list" ng-click="toggleActive('open_source')" ng-class="{active: preference.open_source}">
          You prefer a company that makes open source contributions?
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label' for="title"><strong>Benefits</strong></label>
  <div class="controls">
    <button type="button" ng-click="selectAllBenefits()" class="btn btn-info">Select All</button>
    <button type="button" ng-click="unselectAllBenefits()" class="btn btn-info">Unselect All</button>
    <br />
    <br />
    <table class="table table-bordered">
      <tr class='preference'>
        <td class="preference-list" ng-click="toggleActive('vacation_days')" ng-class="{active: preference.vacation_days}">
          Paid vacation?
        </td>
        <td class="preference-list" ng-click="toggleActive('healthcare')" ng-class="{active: preference.healthcare}">
          Healthcare?
        </td>
        <td class="preference-list" ng-click="toggleActive('dental')" ng-class="{active: preference.dental}">
          Dental?
        </td>
        <td class="preference-list" ng-click="toggleActive('vision')" ng-class="{active: preference.vision}">
          Vision?
        </td>
      </tr>
      <tr class='preference'>
        <td class="preference-list" ng-click="toggleActive('life_insurance')" ng-class="{active: preference.life_insurance}">
          Life Insurance?
        </td>
        <td class="preference-list" ng-click="toggleActive('equity')" ng-class="{active: preference.equity}">
          Equity?
        </td>
        <td class="preference-list" ng-click="toggleActive('bonuses')" ng-class="{active: preference.bonuses}">
          Bonuses?
        </td>
        <td class="preference-list" ng-click="toggleActive('retirement')" ng-class="{active: preference.retirement}">
          Retirement?
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'><strong>Company Sizes</strong></label>
  <div class="controls">
    <table class="table table-bordered">
      <tr class="preference" ng-repeat="row in preference.company_size">
        <td class="preference-list" ng-click="toggleActiveHash(attributes)" ng-class="{active: attributes.checked}" ng-repeat="attributes in row">
          {{attributes.name}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'><strong>Skills</strong></label>
  <div class="controls">
    <table class="table table-bordered">
      <tr class="preference" ng-repeat="row in preference.skills">
        <td class="preference-list" ng-click="toggleActiveHash(attributes)" ng-class="{active: attributes.checked}" ng-repeat="attributes in row">
          {{attributes.name}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'><strong>Locations</strong></label>
  <div class="controls">
    <table class="table table-bordered">
      <tr class="preference" ng-repeat="row in preference.locations">
        <td class="preference-list" ng-click="toggleActiveHash(attributes)" ng-class="{active: attributes.checked}" ng-repeat="attributes in row">
          {{attributes.name}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'><strong>Industries</strong></label>
  <div class="controls">
    <table class="table table-bordered">
      <tr class="preference" ng-repeat="row in preference.industries">
        <td class="preference-list" ng-click="toggleActiveHash(attributes)" ng-class="{active: attributes.checked}" ng-repeat="attributes in row">
          {{attributes.name}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'><strong>Experience Levels</strong></label>
  <div class="controls">
    <table class="table table-bordered">
      <tr class="preference" ng-repeat="row in preference.experience_levels">
        <td class="preference-list" ng-click="toggleActiveHash(attributes)" ng-class="{active: attributes.checked}" ng-repeat="attributes in row">
          {{attributes.name}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'><strong>Positions</strong></label>
  <div class="controls">
    <table class="table table-bordered">
      <tr class="preference" ng-repeat="row in preference.position_titles">
        <td class="preference-list" ng-click="toggleActiveHash(attributes)" ng-class="{active: attributes.checked}" ng-repeat="attributes in row">
          {{attributes.name}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'><strong>Company Types</strong></label>
  <div class="controls">
    <table class="table table-bordered">
      <tr class="preference" ng-repeat="row in preference.company_types">
        <td class="preference-list" ng-click="toggleActiveHash(attributes)" ng-class="{active: attributes.checked}" ng-repeat="attributes in row">
          {{attributes.name}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'><strong>Perks</strong></label>
  <div class="controls">
    <button type="button" ng-click="selectAll(preference.perks)" class="btn btn-info">Select All</button>
    <button type="button" ng-click="unselectAll(preference.perks)" class="btn btn-info">Unselect All</button>
    <br />
    <br />
    <table class="table table-bordered">
      <tr class="preference" ng-repeat="row in preference.perks">
        <td class="preference-list" ng-click="toggleActiveHash(attributes)" ng-class="{active: attributes.checked}" ng-repeat="attributes in row">
          {{attributes.name}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <label class='control-label'><strong>Practices</strong></label>
  <div class="controls">
    <table class="table table-bordered">
      <tr class="preference" ng-repeat="row in preference.practices">
        <td class="preference-list" ng-click="toggleActiveHash(attributes)" ng-class="{active: attributes.checked}" ng-repeat="attributes in row">
          {{attributes.name}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <button class='btn btn-info' type="submit">Save Your Preferences</button>
  </div>
</div>
