<input type="hidden" ng-model="preference.id" />

<div class="control-group">
  <label class='control-label' for="title"><i class='icon-money'></i> Expected salary</label>
  <div class="controls">
    <div class="input-prepend input-append">
      <span class="add-on"><i class='icon-usd'></i></span>
      <input type="text" ng-model="preference.expected_salary" />
      <span class="add-on">.00</span>
    </div>
  </div>
</div>

<h5>Benefits</h5>

<div class="control-group">
  <label class='control-label' for="title"><i class='icon-plane'></i> Paid vacation?</label>
  <div class="controls">
    <input type="checkbox" ng-model="preference.vacation" />
  </div>
</div>

<div class="control-group">
  <label class='control-label' for="title"><i class='icon-medkit'></i> Healthcare?</label>
  <div class="controls">
    <input type="checkbox" ng-model="preference.healthcare" />
  </div>
</div>

<div class="control-group">
  <label class='control-label' for="title">Dental?</label>
  <div class="controls">
    <input type="checkbox" ng-model="preference.dentalcare" />
  </div>
</div>

<div class="control-group">
  <label class='control-label' for="title">Vision?</label>
  <div class="controls">
    <input type="checkbox" ng-model="preference.visioncare" />
  </div>
</div>

<div class="control-group">
  <label class='control-label' for="title">Life Insurance?</label>
  <div class="controls">
    <input type="checkbox" ng-model="preference.life_insurance" />
  </div>
</div>

<div class="control-group">
  <label class='control-label' for="title">Equity?</label>
  <div class="controls">
    <input type="checkbox" ng-model="preference.equity" />
  </div>
</div>

<div class="control-group">
  <label class='control-label' for="title">Bonuses?</label>
  <div class="controls">
    <input type="checkbox" ng-model="preference.bonuses" />
  </div>
</div>

<div class="control-group">
  <label class='control-label' for="title">Retirement?</label>
  <div class="controls">
    <input type="checkbox" ng-model="preference.retirement" />
  </div>
</div>

<div class="control-group">
  <label class='control-label' for="title">Fulltime?</label>
  <div class="controls">
    <input type="checkbox" ng-model="preference.fulltime" />
  </div>
</div>

<div class="control-group">
  <label class='control-label' for="title">Remote?</label>
  <div class="controls">
    <select ng-model="preference.remote">
      <option value="0">No</option>
      <option value="1">Yes</option>
      <option value="2">I'm open to remote work</option>
    </select>
  </div>
</div>

<div class="control-group">
  <label class='control-label' for="title">Availablity After Hire</label>
  <div class="controls">
    <div class="input-append">
      <input type="text" ng-model="preference.potential_availability" />
      <span class="add-on">week(s)</span>
    </div>
  </div>
</div>

<div class="control-group">
  <label class='control-label' for="title">Open Source?</label>
  <div class="controls">
    <input type="checkbox" ng-model="preference.open_source" />
  </div>
</div>

<div class="control-group">
  <label class='control-label' for="title"># Hours per Week</label>
  <div class="controls">
    <div class="input-append">
      <input type="text" ng-model="preference.work_hours" />
      <span class="add-on">hour(s)</span>
    </div>
  </div>
</div>

<div class="control-group">
  <label class='control-label' for="title">Company Size</label>
  <div class="controls">
    <select ng-model="preference.company_size">
      <option value="0">1-10 Employees</option>
      <option value="1">11-50 Employees</option>
      <option value="2">51-200 Employees</option>
      <option value="3">201-500 Employees</option>
      <option value="4">501+ Employees</option>
    </select>
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <button class='btn' type="submit">Save</button>
  </div>
</div>
