<form name="preferenceForm" class='form-horizontal' ng-submit="update()">
  <div class="row-fluid">
    <div class="span2">
      <div class="span2 affix">
        <ul class="unstyled">
          <li class="means-yes alert">
            This means yes or preferred
          </li>
          <li class="means-no alert">
            This means no or not preferred
          </li>
          <li ng-show="success.length > 0" class="alert alert-success">
            {{success}}
          </li>
          <li ng-show="dirty_message.length > 0" class="alert alert-info">
            {{dirty_message}}
          </li>
          <li ng-show="error_updating.length > 0" class="alert alert-error">
            {{error_updating}}
          </li>
          <li ng-show="dirty_message.length > 0">
            <button class='btn btn-info' type="submit">Save Your Preferences</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="span8 span-fixed-sidebar">
      <ng-include src="'<%= asset_path("preferences/_form.html.erb") %>'" />
    </div>
  </div>
</form>
