<p>
  Perks:
</p>
Kegs:
<input id="job_listing_perks_kegs" name="Kegs" ng-model="data.perks.kegs" type="checkbox" value="Kegs">
Ping Pong: 
<input id="job_listing_perks_ping_pong" name="Ping Pong" ng-model="data.perks.pingPong" type="checkbox" value="Ping Pong">
Snacks: 
<input id="job_listing_perks_snacks" name="snacks" ng-model="data.perks.snacks" type="checkbox" value="Snacks">
Catered Meals: 
<input id="job_listing_perks_catered_meals" name="Catered Meals" ng-model="data.perks.cateredMeals" type="checkbox" value="Catered Meals">
Flexible Work Hours: 
<input id="job_listing_perks_flex_hours" name="Flex Hours" ng-model="data.perks.flexHours" type="checkbox" value="Flex Hours">
Occasional Work From Home: 
<input id="job_listing_perks_wfh" name="WFH" ng-model="data.perks.wfh" type="checkbox" value="WFH">
Conference Travel: 
<input id="job_listing_perks_conference" name="Conference" ng-model="data.perks.conference" type="checkbox" value="Conference">
Offsites: 
<input id="job_listing_perks_offsites" name="Offsites" ng-model="data.perks.offsites" type="checkbox" value="Offsites">
