.panel-group
  .panel-heading
    %a{ 'data-toggle' => 'collapse', 'data-parent' => '#accordion2', href: '#collapseOrg' }
      %h4 Organizations
  #collapseOrg.panel-collapse.collapse
    .panel-body
      %ul.list-inline
        - @orgs.each do |org|
          %li
            = link_to(image_tag(org.logo.small, title: org.name, class: 'img-rounded'), org.url, target: '_blank')
