.accordion-group
  .accordion-heading
    %a{ class: 'accordion-toggle', 'data-toggle' => 'collapse', 'data-parent' => '#accordion2', href: '#collapseSkills' }
      %h4 Skills
  #collapseSkills{ class: 'accordion-body collapse', 'ng-controller' => 'Skills', 'ng-init' => "init(#{@user.id})"}
    .accordion-inner
      %table.table
        %tr{'ng-repeat' => 'row in rows'}
          %td{'ng-repeat' => 'skill in row'} {{skill}}
