.panel-group
  .panel-heading
    %a{ 'data-toggle' => 'collapse', 'data-parent' => '#accordion2', href: '#collapseSkills' }
      %h4 Skills
  #collapseSkills.panel-collapse.collapse
    .panel-body
      %table.table
        - @skills.try(:each_slice, 6) do |group|
          %tr
            - group.each do |skill|
              %td= skill
