%hr
%p
  %i.icon-stackexchange.icon-2x
    Stackoverflow Information
  - if @stackexchange
    = render 'stackoverflow'
  - elsif user_signed_in?
    %p
      = link_to '/auth/stackexchange', class: 'btn btn-warning' do
        %i.icon-stackexchange
        %strong | Link your Stackexchange
