.media
  .media-body
    %h6.media-heading
      Reputation:
      %small
        #{@stackexchange.reputation}
    .span1.pull-left.text-center
      .span1
        %h6 Gold
      .span1
        %span.badge.gold #{@stackexchange.badges['gold']}
    .span1.pull-left.text-center
      .span1
        %h6 Silver
      .span1
        %span.badge.silver #{@stackexchange.badges['silver']}
    .span1.pull-left.text-center
      .span1
        %h6 Bronze
      .span1
        %span.badge.bronze #{@stackexchange.badges['bronze']}
