.media
  .media-body
    %h4.media-heading
      Reputation:
      #{@stackexchange.reputation}
    .col-md-1.pull-left.text-center
      %h4 Gold
      .col-md-1
        %span.badge.gold #{@stackexchange.badges['gold']}
    .col-md-1.pull-left.text-center
      %h4 Silver
      .col-md-1
        %span.badge.silver #{@stackexchange.badges['silver']}
    .col-md-1.pull-left.text-center
      %h4 Bronze
      .col-md-1
        %span.badge.bronze #{@stackexchange.badges['bronze']}
