.media
  .media-body
    %h6.media-heading
      Reputation:
      %small
        #{@stackexchange.reputation}
    .col-md-1.pull-left.text-center
      %h6 Gold
      .col-md-1
        %span.badge.gold #{@stackexchange.badges['gold']}
    .col-md-1.pull-left.text-center
      %h6 Silver
      .col-md-1
        %span.badge.silver #{@stackexchange.badges['silver']}
    .col-md-1.pull-left.text-center
      %h6 Bronze
      .col-md-1
        %span.badge.bronze #{@stackexchange.badges['bronze']}
