%hr
%p
  %i.icon-stackexchange.icon-2x
    Stackoverflow
  - if @stackexchange
    %span.nickname_link
      = link_to(@stackexchange.display_name, @stackexchange.profile_url)
    = render 'stackoverflow'
  - elsif user_signed_in?
    %p
      = link_to '/auth/stackexchange', class: 'btn btn-warning' do
        %i.icon-stackexchange
        %strong | Link your Stackexchange
