%div{"ng-app"=>"Users"}

  #housing
    .container-fluid
      .pull-right.user-deactivate
        - if current_user.active?
          = link_to 'Deactivate Account', toggle_activation_user_path(id: current_user.id), method: :put, class: 'btn btn-danger'
        - else
          = link_to 'Activate Account', toggle_activation_user_path(id: current_user.id), method: :put, class: 'btn btn-success'
      #wrapper{'ui-view' => ''}
