#housing
  .container
    - if @job_listings.present?
      - @job_listings.each do |job_listing|
        = render partial: 'job_listing_info', locals: {job_listing: job_listing}
    - else
      %h4 Start applying for some jobs to build your briefcase!
