#housing
  .container
    - if !current_company.active
      %p
        Your account is currently deactivated. To start getting matched with developers again activate your account by clicking
        #{link_to 'here.', toggle_activation_company_path(id: current_company.id), method: :put}
    - else
      %div{"ng-app"=>"JobListing"}
        #wrapper{'ui-view' => ''}
