#in_pricing
  .container
    = render 'layouts/pricing'
#faq
  .container
    %h3 Frequently asked questions
    .row
      .col-md-6.block
        .box
          %p.title
            What is "Pickemup Discovery"?
          %p.answ
            Pickemup Discovery is our full application that helps you discover employers or employees. You can read more
            about what we do #{link_to 'here', about_path}.
        .box
          %p.title
            What makes ultimate package so different?
          %p.answ
            Ultimate includes our full services. You will have 1 job listing, access to Pickemup Discovery, and of course the
            best customer service we can provide. In addition, we will be doing full-time recruiting to hire 1 developer. This can be as
            flexible as you want. We will pre-screen candidates, run the entire technical interview process, and/or make sure communication is
            at its best. Furthermore, if you have an interview process that you prefer, we will adapt to your interviewing methodology.
            What we are saying is, we will do whatever is necessary to get you the perfect developer as fast as possible while trying
            to fit your business needs.
      .col-md-6.block
        .box
          %p.title
            Is that all that is offered?
          %p.answ
            For now, but we will definitely work with anyone to meet their needs. The best thing about Pickemup is that there is no
            transparency. The only thing that the price affects is the number of job listings, or our recruiting services. Other than that,
            everyone gets access to our discovery platform, especially when it comes to developers. Pickemup will always be free
            to developers!
