#housing
  .container-fluid
    .row-fluid
      .span2.pull-right
        = render 'sidebar'
      .span10
        = render 'info'
        %hr
        .span1
        .span9
          %h4 Job Listings
          = render 'layouts/job_listings'
