#housing
  .container
    .section_header
      %h3 All Job Listings
    = link_to 'Add a Job Listing', new_company_job_listing_path(company_id: current_company.id), class: 'btn'
    - @job_listings.each do |listing|
      = link_to "Edit #{listing.id}", edit_company_job_listing_path(company_id: current_company.id, id: listing.id)
