%div{class: "col-md-3 pro"}
  %div{class: "plan"}
    %div{class: "wrapper"}
      %h3 Basic
      %div{class: "price"}
        %span{class: "dollar"} $
        %span{class: "qty"} 250
        %span{class: "month"} /month
      %div{class: "features"}
        %h5 1 Job Listing
