%footer#footer
  .container
    .row.info
      .span6.residence
        %ul
          %li 1114 Sutter Street Apt. 607
          %li City, San Francisco. United States,
          %li Zip Code, CA 94109.
      .span5.touch
        %ul
          %li
            %strong
              Phone
            1 631 834 2095
          %li
            %strong
              Email
            pickemupteam@gmail.com
    .row.credits
      .span12
        .row.social
          -#.span12
            -#= link_to root_path, class: 'facebook' do
              -#%span.socialicons.ico1
              -#%span.socialicons_h.ico1h
            -#= link_to root_path, class: 'twitter' do
              -#%span.socialicons.ico2
              -#%span.socialicons_h.ico2h
            -#= link_to root_path, class: 'gplus' do
              -#%span.socialicons.ico3
              -#%span.socialicons_h.ico3h
        .row.copyright
          .span12
            2013 Pickemup. All rights reserved
