%div{class: "col-md-3 pro"}
  %div{class: "plan"}
    %div{class: "wrapper"}
      %h3 Mid-level
      %div{class: "price"}
        %span{class: "dollar"} $
        %span{class: "qty"} 550
        %span{class: "month"} /month
      %div{class: "features"}
        %h5 Up to 5 Job Listings
