.row
  .charts_wrapp
    .col-md-3
      .plan
        .wrapper
          %h3 Lite
          .price
            %span.dollar $
            %span.qty 250
            %span.month /month
          .features
            %p
              %strong 1
              Job Listing
            %p
              %strong Full
              Customer Support
            %p
              %strong Access
              Pickemup Discovery
    .col-md-3
      .plan
        .wrapper
          %h3 Standard
          .price
            %span.dollar $
            %span.qty 550
            %span.month /month
          .features
            %p
              %strong 5
              Job Listings
            %p
              %strong Full
              Customer Support
            %p
              %strong Access
              Pickemup Discovery
    .col-md-3
      .plan
        .wrapper
          %h3 Pro
          .price
            %span.dollar $
            %span.qty 750
            %span.month /month
          .features
            %p
              %strong Unlimited
              Job Listings
            %p
              %strong Full
              Customer Support
            %p
              %strong Access
              Pickemup Discovery
    .col-md-3
      .plan
        .wrapper
          %h3 Ultimate
          .price
            %span.dollar $
            %span.qty 5000
            %span.month /month
          .features
            %p
              %strong 1
              Job Listing
            %p
              %strong Full-time
              Recruiting
            %p
              %strong 1
              Developer
            %p
              %strong Full
              Customer Support
            %p
              %strong Access
              Pickemup Discovery
