.row
  .charts_wrapp
    .col-md-3
      .plan
        .wrapper
          %h3 Lite
          .price
            %span.dollar $
            %span.qty 250
            %span.month /month
          .features
            %p
              %strong 1
              Job Listing
            %p
              %strong Full
              Customer Support
            %p
              %strong Access
              Pickemup Discovery
    .col-md-3
      .plan
        .wrapper
          %h3 Standard
          .price
            %span.dollar $
            %span.qty 550
            %span.month /month
          .features
            %p
              %strong 5
              Job Listings
            %p
              %strong Full
              Customer Support
            %p
              %strong Access
              Pickemup Discovery
    .col-md-3
      .plan
        .wrapper
          %h3 Pro
          .price
            %span.dollar $
            %span.qty 750
            %span.month /month
          .features
            %p
              %strong Unlimited
              Job Listings
            %p
              %strong Full
              Customer Support
            %p
              %strong Access
              Pickemup Discovery
    .col-md-3
      .plan
        .wrapper
          %h3 White Glove
          .price
            = link_to contact_path do
              %span.month Contact for pricing
          .features
            %p
              %strong
                A more traditional recruiting service on a contingency basis.
            %p
              We spend time learning about your company and any open positions you may have.  Then we provide hand-picked candidates who are vetted by our own developers.
