%div{id: "in_pricing"}
  %div{class: "row charts_wrapp"}
    = render 'layouts/basic_purchase_options'
    = render 'layouts/midlevel_purchase_options'
    = render 'layouts/enterprise_purchase_options'
