#team
  .container
    .section_header
      %h3 The Team
    .row.people
      .row.row1
        .span6.bio_box
          = image_tag('tom.png', class: 'img img-circle', size: '200x171')
          .info
            %p.name Tom Depplito
            %p.area Co-Founder/CEO
            %a.facebook{href: "https://www.facebook.com/tom.depplito"}
              %span.socialicons.ico1
              %span.socialicons_h.ico1h
            %a.twitter{href: "https://twitter.com/tomdepplito"}
              %span.socialicons.ico2
              %span.socialicons_h.ico2h
        .span6.bio_box.bio_boxr
          = image_tag('chris.png', class: 'img img-circle', size: '200x171')
          .info
            %p.name Chris Nixon
            %p.area Co-Founder/CTO
            %a.facebook{href: "https://www.facebook.com/chris.nixon.3150"}
              %span.socialicons.ico1
              %span.socialicons_h.ico1h
            %a.twitter{href: "https://twitter.com/liamneesonsarm"}
              %span.socialicons.ico2
              %span.socialicons_h.ico2h
