- if !current_user.active
  %p
    Your account is currently deactivated. To start getting matched with companies again activate your account by clicking
    #{link_to 'here.', toggle_activation_user_path(id: current_user.id)}
- else
  %div{"ng-app"=>"Pickemup"}
    #wrapper{'ui-view' => '', autoscroll: 'false'}
