- progress = current_user.preference.preference_percentage_filled.round(0)
%h4 #{progress}% of #{link_to 'Preferences', preferences_user_path(id: current_user.id)} Filled Out
.progress
  .bar{style: "width: #{progress}%"}
